*,a，p{
    font-family: "微软雅黑";
}

a:focus, a:hover {
     outline:none;
     text-decoration: none;
}
@media (min-width: 1200px){
	.container {
	    width: 1200px;
	}
}
@media screen and (min-width: 767px){
	.container {
	    padding-left: 0;
	    padding-right: 0;
	}
}

/*首页*/

	/*中间的内容*/
	.section{
		
	}

	/*轻量化*/
	.tm-section-intro{
	    background-image: url(../images/ocean_bg.jpg);
	    background-attachment: fixed;
	    background-position:top center;
	    background-size:1200px auto;
	    background-repeat: no-repeat;
	    color: white;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    text-align: center;
	    height: 450px;
	    max-height: 450px;
	}

	.tm-section-intro h1{
		font-size: 10rem;
		margin-bottom: 3.4rem;
	}

	.tm-section-intro .tm-section-intro-text {
	    font-size: 2rem;
	    margin-bottom: 4rem;
	    padding: 0 2rem;
	}

	.tm-btn-white-big {
	    font-size: 2.4rem;
	    color: #fff;
	    background-color:#3d7ebf;
	    padding: 1rem 2.8rem;
	    border-radius: 0.8rem;
	}

	.tm-btn-white-big:hover, .tm-btn-white-big:focus {
		color: #fff;
	    background-color: #2F5C8D;
	}

	/*轮播图字*/
	.swiper-container {
		background-color: /*rgba(108,108,108,0.7)*/#fff;
	    width: 100%;
	    min-height:20rem;
	    padding:2rem 2rem 4rem;
	}
	.swiper-slide {
	    text-align: center;
	    font-size: 18px;

	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}
	.swiper-button-next, .swiper-button-prev {
	    position: absolute;
	    top: 50%;
	    width: 1.6rem;
	    height: 2.8rem;
	    margin-top: -1.4rem;
	    z-index: 10;
	    cursor: pointer;
	    -moz-background-size: 1.6rem 2.8rem;
	    -webkit-background-size: 1.6rem 2.8rem;
	    background-size: 1.6rem 2.8rem;
	    background-position: center;
	    background-repeat: no-repeat;
	}

	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: 4rem;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: 4rem;
	}
	.swiper-container .swiper_slide{
		width: 80%;
		/*padding: 0 6rem;*/

	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		bottom:2rem;
	}
	.swiper-container .swiper_slide h2{
		font-size: 3rem;
		line-height: 3rem;
	    padding: 1rem 0;
	}
	.swiper-pagination-bullet{
		width: 1.4rem;
		height: 1.4rem;
	}
	.swiper-pagination-bullet-active{
		background: #2F5C8D;
	}

	/*案例，病例*/
	.section .example h2{
		text-align: center;
	    padding: 2rem 0;
	}
	.section .example p{
		font-size: 1.8rem;
	    line-height: 2.6rem;
	}

/*pro_55页面*/
.pro_img p{
	font-size: 2.4rem;
	text-align: center;
	line-height: 3.6rem;	
}
.pro_img img{
	margin:0 auto;
}
.pro_text{
	padding: 2rem 3rem;
}
.pro_text h1{
	font-size: 3.6rem;
	padding: 1rem 0;
}
.pro_text p{
	font-size: 1.8rem;
    line-height: 3.6rem;
}
.pro_text p.red{
	color:#3d7ebf;
	font-size: 2.4rem;
    line-height: 6rem;
}
.pro_text p em{
	font-family:"Arial" ;
	color:#3d7ebf;
	font-size:3.4rem;
	font-weight:bold;
}

.pro_info_de{
	text-align:center;
    background: rgba(245, 245, 245, 1);
}
.pro_info_de h1{
	font-size: 3rem;
	line-height: 3rem;
	padding: 1rem 0;
}
.pro_info_de p{
	font-size: 1.8rem;
	width: 100%;
	white-space:normal;
	overflow: hidden;
	line-height: 3rem;
}

@media (max-width: 767px){
	/*首页*/
		/*轻量化*/
		.tm-section-intro{
		    background-image: none;
		    height:200px;
		    max-height:100%;
		}
		.tm-section-intro img{
			height: 100%;
			width: 100%;
			display: block;
		}
		.section .tm-wrapper-center{
			/*margin: 0 15px;*/
			width:100%;
		}
		.tm-wrapper-center{
			position: absolute;
			top: 4rem;
    		left: 0;
		}
		.tm-section-intro h1{
			font-size: 2.4rem;
			line-height: 4rem;
			margin-bottom: 1rem;
		}
		.tm-section-intro .tm-section-intro-text {
		    font-size: 1.4rem;
		    line-height:2rem;
		    margin-bottom: 2.6rem;
		}
		.tm-btn-white-big {
		    font-size: 1.4rem;
		    padding: 0.5rem 1.5rem;
		}
		/*轮播图字*/
		.swiper-button-next, .swiper-button-prev {
			width: 1rem;
		    -moz-background-size: 1rem 2.8rem;
		    -webkit-background-size: 1rem 2.8rem;
		    background-size: 1rem 2.8rem;
		}
		.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
			left: 1rem;
		}
		.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
			right: 1rem;
		}
		.swiper-container .swiper_slide h2{
		    font-weight:normal;
		    font-size: 2.4rem;
		}
		.swiper-container .swiper_slide p{
		    font-size: 1.4rem;
		}
		.swiper-pagination-bullet{
			width: .8rem;
			height: .8rem;
		}

		/*案例，病例*/
		.section .example_a{
			display: block;
		}
		.section .example_b{
			display: none;
		}

		.section .example h2{
		    padding: 1.2rem 0;
		    font-size: 2.4rem;
		}
		.section .example p{
			margin: 0 auto;
			width: 90%;
			font-size: 1.4rem;
		    line-height: 1.8rem;
		}
	/*pro_55*/
		.pro_img_0 {
			margin: 0;
		}
		.pro_img p {
		    font-size: 2rem;
		}
		.pro_text{
			padding: 0;

		}
		.pro_text h1,.pro_info_de h1{
		    font-size: 2.4rem;
		    padding: .5rem 0;
		    text-align: center;
		    background: #83acd6;
		}
		.pro_text p {
		    font-size: 1.4rem;
		    line-height: 2.8rem;
		    padding: 0 1rem;
		}
		.pro_text p.red {
		    color: #3d7ebf;
		    font-size: 1.8rem;
		    line-height:2.6rem;
	        font-weight: bold; 
		}
		.pro_text p em {
		    font-size: 3rem;
		}

		.pro_info_de h1{
			line-height: normal;
		}
		.pro_info_de p{
			font-size: 1.4rem;
		}
		.pro_info_de .pl{
			text-align: right;
			margin-right: 1rem;
		}

		.pro_info_de .pr{
			text-align: left;
		/*	margin-left: 1rem;*/
		}



}
@media screen and (min-width: 580px) {

}

@media screen and (min-width: 767px){
	.padding_0_5_0_5{
	    padding: 0 5px 0 5px;
	}
	/*轻量化*/
	.tm-section-intro .tm-section-intro-text {
	    font-size: 2.5rem;
	    margin-bottom: 4rem;
	    width: 100%;
	}
	/*案例，病例*/
	.section .example{
		padding-top: 2rem;
	}
	.pro_info_de .pl{
		text-align: right;
	    /*padding-right: 2rem;*/
	}

	.pro_info_de .pr{
		text-align: left;
		/*margin-left: 2rem;*/
	}
	.pro_info_de h1 {
	    background: #83acd6;
	}

}

@media (min-width: 767px) and (max-width: 1200px){


}

@media (min-width: 1200px){
	


}


























































